<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Navigator" version="100.25.11.328" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="100.25.11.328" targetFramework="net48" />
  <package id="Krypton.Toolkit.Suite.Extended.Panels" version="100.25.11.328" targetFramework="net48" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="10.0.3" targetFramework="net48" />
</packages>